.container {
    position: fixed;
    z-index: 1000;
    right: 0;
    bottom: 0;
}

.toast {
    margin: 1rem;
    padding: 1rem 2rem 1rem 1rem;
    background-color:lightsteelblue;
    border-radius: var(--border-radius-card);
}