.task--field {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0.5rem 0 0.5rem 0;
    background-color: gainsboro;
    border-radius: var(--border-radius-card)
}

.button--delete {
    background-color: red;
}

p {
    padding: 0 1rem 0 1rem;
}