.p--0101 {
    padding: 0 1rem 0 1rem;
}

.active {
    background-color: darkgrey;
}

.pl--1 {
    padding-left: 1rem;
}

.title--input {
    border-radius: var(--border-radius-card);
}

.my--auto {
    margin-top: auto;
    margin-bottom: auto;
}
