<div class="to--do--list--container">
    <div class="to--do--list--content">
        <div class="content--card">
            <header>
                <h1>Список задач</h1>
            </header>
            <main>
                @if(isLoading()) {
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                } @else {
                <div class="d--flex">
                    <ul class="no--bullets tasks--list">
                        @for (task of tasks(); track task.id) {
                        <app-to-do-list-item [propTask]="task" [propSelected]="isSelected(task.id)"
                            (propOnDelete)="doDeleteTask(task.id)" (propOnSave)="doSaveTask(task.id, $event)"
                            (click)="setSelectedId(task.id)"></app-to-do-list-item>
                        } @empty {
                        <li class="task--field">
                            <p>Список пуст</p>
                        </li>
                        }
                    </ul>
                    @if (tasks().length > 0) {
                    @if(selectedTaskId() != null) {
                    <span class="desc">{{ selectedTaskDescription() }}</span>
                    } @else {
                    <span class="desc">Выделите задачу, и здесь появится подробное её описание</span>
                    }
                    }
                </div>
                <div class="add--task--form">
                    <div class="w--100">
                        <mat-form-field appTooltip="Новая задача" class="w--100">
                            <input matInput placeholder="Заголовок" type="text" [(ngModel)]="newTaskTittle"
                                maxlength="50">
                        </mat-form-field>
                        <textarea appTooltip="Описание" [(ngModel)]="newTaskDescription" placeholder="Описание"
                            class="textArea"></textarea>
                    </div>
                    <app-button appTooltip="Добавление по-клику" style="height: 4rem;" [propTittle]="'Добавить задачу'"
                        [propType]="'add'" [propDisabled]="disabledAddButton()"
                        (propOnClick)="doAddNewTask()"></app-button>
                </div>
                }
            </main>
        </div>
        <footer class="footer">
            <p>Обучение c Otus</p>
            <p>Автор домашнего задания Евгений Греков, г.Рыбинск</p>
        </footer>
    </div>
</div>