.to--do--list--container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.to--do--list--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    max-width: 960px;
    margin: 1rem 1rem 1rem 1rem;
}

h1 {
    padding-left: 2rem;
}

.content--card {
    flex-grow: 1;
    padding: 0.5rem;
    background-color: #eee4cc;
    border-radius: var(--border-radius-card)
}

.footer {
    text-align: center;
}

.no--bullets {
    list-style-type: none;
    padding-left: 0;
}

.tasks--list {
    width: 100%;
    margin: 0 1rem 0 1rem
}

:host ::ng-deep .task--field {
    min-height: 3.15rem;
    min-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0.5rem 0 0.5rem 0;
    background-color: gainsboro;
    border-radius: var(--border-radius-card)
}

.task--field>p {
    margin: 0;
    padding: 1rem;
}

.add--task--form {
    margin: 2rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.d--flex {
    display: flex;
}

.desc {
    background-color: white;
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 2rem 0.5rem 1rem;
    border-radius: var(--border-radius-card)
}

.textArea {
    height: 5rem;
    width: calc(100% - 6px);
    overflow-wrap: break-word;
}
