.no--bullets {
    list-style-type: none;
    padding-left: 0;
}

.tasks--list {
    max-height: calc(100vh - 25rem);
    overflow-y: auto;
    width: 100%;
    margin: 0 1rem 0 1rem
}

:host ::ng-deep .task--field {
    min-height: 3.15rem;
    min-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0.5rem 0 0.5rem 0;
    background-color: gainsboro;
    border-radius: var(--border-radius-card)
}

.task--field>p {
    margin: 0;
    padding: 1rem;
}

.d--flex {
    display: flex;
}

.form--filter {
    margin-left: 1rem
}
