<div class="d--flex">
    <ul class="no--bullets tasks--list">
        @for (task of tasks(); track task.id) {
        <app-to-do-list-item [propTask]="task" [propEditedId]="editedTaskId()" (propOnDelete)="doDeleteTask(task.id)"
            (propOnSave)="doChangeTaskTitle(task.id, $event)" (propOnChangeStatus)="doChangeTaskStatus(task.id, $event)"
            (dblclick)="setEditedId(task.id)">
        </app-to-do-list-item>
        } @empty {
        <li class="task--field">
            <p>Список пуст</p>
        </li>
        }
    </ul>
    <router-outlet></router-outlet>
</div>
<app-todo-create-item (propCreate)="doAddNewTask($event)"></app-todo-create-item>